# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
.env
